.timetable-wrapper {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.timetable-title {
  margin: 0 0 18px;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  color: #111;
}

.timetable-scroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
}

.timetable {
  position: relative;
  flex-shrink: 0;
  background: white;
}

.timetable-svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.timetable-background {
  fill: #ffffff;
}

.timetable-outer-border {
  fill: none;
  stroke: #111;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

.grid-line {
  stroke: #222;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
  shape-rendering: crispEdges;
}

.period-number {
  fill: #111;
  font-size: 24px;
  font-weight: 400;
}

.period-time {
  fill: #222;
  font-size: 9px;
  font-weight: 400;
}

.day-label {
  fill: #111;
  font-size: 54px;
  font-weight: 400;
}

.course-block {
  pointer-events: none;
}

.course-background {
  fill: #fff;
  stroke: none;
}

.course-room {
  fill: #111;
  font-size: 10px;
  font-weight: 400;
}

.course-code {
  fill: #111;
  font-size: 30px;
  font-weight: 400;
}

.course-lecturer {
  fill: #111;
  font-size: 10px;
  font-weight: 400;
}

.timetable-empty {
  width: 100%;
  min-height: 250px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ddd;

  color: #777;
  font-size: 15px;
}